- if @errors
	%p Tu correo o cuenta de twitter no es valido o ya ha sido registrado

.span-15.formulario
	%form{:action => "contact", :id => "", :method => "post"}
		%fieldset
			%ul
				%li
					%label{:for => "name"} Nombre*
					%input#cname.required{:minlength => "2", :name => "name", :size => "25"}/
				%li
					%label{:for => "email"} Email*
					%input#cemail.required.email{:name => "email", :size => "25"}/
				%li
					%label{:for => "twitter"} Twitter
					%input#cemail.required.twitter{:name => "twitter", :size => "25"}/
				%li
					%input.sendButton{:name => "submit", :type => "submit", :value => "enviar"}

