%span.reforestanding
	%img{:alt => "logo", :height => "61", :src => "images/reforestanding.png", :width => "681"}

- if @errors
	.errors
		- @info.errors.full_messages.each do |message|
			= message
- else
	.span-14.intro
		Preocupados por nuestro medio ambiente decidimos hacer nuestra aportación con la sociedad colimota,es por eso que en conjunto con el Ayuntamiento de Colima, Crowd Interactive estará organizando brigadas de reforestación, registra tus datos para recibir información sobre éstas.


.span-15.formulario
	%form{:action => "contact", :id => "", :method => "post"}
		%fieldset
			%ul
				%li
					%label{:for => "nombre"} Nombre*
					%input#cname.required{:minlength => "2", :name=> "nombre", :size => "25"}/
				%li
					%label{:for => "email"} Email*
					%input#cemail.required.email{:name => "email", :size => "25"}/
				%li
					%label{:for => "twitter"} Twitter
					%input#cemail.required.twitter{:name => "twitter", :size => "25"}/
				.span-6.push-7
					Los campos marcados son obligatorios(*).
				%li
					%input.sendButton{:name => "submit", :type => "submit", :value => "enviar"}

