html {
	background:url('../images/bkg.png') repeat-x 0 0;
}

body{
	background:none;
}

.container{
	margin:0 auto;
	background:none;
}



.logo img{
	margin:50px 0 0 370px;
}

.reforestanding img{
	margin:50px 0 0 154px;
}

.formulario{
	margin:58px 0 0 199px;
}

.formulario input{
	width:332px;
	height:38px;
	border:1px solid #abd279;
	float:left;
	margin-left:15px;
	margin-bottom:8px;
}

.formulario label{
	font-family: 'Anton', arial, sans-serif;
	font-size:30px;
	color:#666666;
	width:150px;
	float:left;
	text-align: right;
}

.formulario ul li{
	clear:both;
	float:left;
	margin-bottom:15px;
}

.formulario input.sendButton{
	font-family: 'Anton', arial, sans-serif;
	width:199px;
	height:58px;
	background:#a5dd4d;
	margin-left:299px;
	color:#fff;
	font-size:42px;
	border:2px solid #83c51a;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px; 
	-webkit-box-shadow: 0px 1px 2px #595959;
	-moz-box-shadow: 0px 1px 2px #595959;
	box-shadow: 0px 1px 2px #595959;
}

.footer{
	background:url('../images/loma.png') no-repeat bottom center;
	height:540px;
	width:100%;
	position:absolute;
	bottom:0px;
	z-index:-1;
}
