body{
	background:none;
}

.container{
	margin:0 auto;
	background:none;
}

.logo img{
	margin:10px 0 0 370px;
}

.reforestanding img{
	margin:20px 0 0 154px;
}

.gracias{
	margin:100px 0 0 350px;
}

.errors{
	margin:40px 0 0 180px;
	text-align:left;
	color:#FF6600;
	font-size:13px;	
	font-family: 'Anton', arial, sans-serif;
}

.intro{
	margin:8px 190px;
	text-align:left;
}

#message{
	background:#FF6600;
	color:#FFF;
}
.formulario{
	margin:8px 0 10px 159px;
}

.formulario input{
	width:332px;
	height:30px;
	border:1px solid #abd279;
	float:left;
	font-size:15px;
	margin-left:15px;
	margin-bottom:8px;
}

.formulario label{
	font-family: 'Anton', arial, sans-serif;
	font-size:25px;
	color:#666666;
	width:150px;
	float:left;
	text-align: right;
}

.formulario ul li{
	clear:both;
	float:left;
	margin-bottom:10px;
}

.formulario input.sendButton{
	font-family: 'Anton', arial, sans-serif;
	width:199px;
	height:58px;
	background:#a5dd4d;
	margin-left:299px;
	margin-bottom:20px;
	color:#fff;
	font-size:42px;
	border:2px solid #83c51a;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px; 
	-webkit-box-shadow: 0px 1px 2px #595959;
	-moz-box-shadow: 0px 1px 2px #595959;
	box-shadow: 0px 1px 2px #595959;
}

.footer{
	background:url('../images/loma.jpg') no-repeat bottom center;
	height:540px;
	width:100%;
	position:absolute;
	bottom:0px;
	z-index:-1;
}
